.book-list {
    margin: 5vh;
}

.book-list.drag {
    background-color: rgb(236, 236, 236);
}

.book-item {
    outline: auto;
    outline-color: rgb(67, 103, 168);
    margin-bottom: 2vh;
    padding: 15px;
    border-radius: 20px;
    display: flex;
}

.book-item:hover {
    background-color: rgb(240, 255, 255);
    transform: translateY(-5px) translateX(-2px);
    filter: drop-shadow(5px 5px 5px darkgray);
}

.position, .delete-btn {
    font-weight: bold;
    padding-top: 35px;
}

.cover-img {
    height: 100px;
    margin-left: 8px;
    margin-right: 10px;
}

.title {
    font-weight: bold;
    font-size: larger;
}

.description {
    padding-top: 2px;
}

.delete-btn {
    font-size: larger;
    color: darkgray;
    margin-left: auto;
}

.delete-btn:hover {
    color: black;
}
